<!-- Top place to visit -->
	<section class="visit section-wrapper">
		<div class="container">
			<h2 class="section-title">
				Top ofertas.

			</h2>
			<p class="section-subtitle">
				Para viajeros empedernidos.
			</p>

			<div class="owl-carousel visit-carousel" id="">
				<div class="item">
					<img src="assets/images/Imagen1.png" alt="visit-image" class="img-responsive visit-item">
				</div>
				<div class="item">
					<img src="assets/images/Imagen1.png" alt="visit-image" class="img-responsive visit-item">
				</div>
				<div class="item">
					<img src="assets/images/Imagen1.png" alt="visit-image" class="img-responsive visit-item">
				</div>
			</div>
		</div> <!-- /.container -->
	</section> <!-- /.visit -->
